*{
    margin: 0;
    padding: 0;
}
#container{
    height: 100%;
    width: 100%;
}
#navparent{
    display: flex;
    list-style: none;
    padding: 10px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: azure;
}
#navbar{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    
    /* border: 2px solid black; */
    height: 60px;
}
#navlogo{
    font-size: 2.2rem;
    color: antiquewhite;
}
#navlist{
    display: flex;
    font-size: 1.7rem;
    gap: 62px;
    
}

#contentBox{ 
    /* border: 2px solid black; */
    background-image: linear-gradient(to top, #bec1c4 0%, #e1e7ea 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#gradients{
    color: #e1e7ea;
}
#item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    /* border: 2px solid black; */
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    box-shadow: 2px 1px 7px 4px black;

}
#item1{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#item2{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#leftBox{
    /* border: 2px solid black; */
    height: 300px;
    width: 300px;
}
#rightBox{
    /* border: 2px solid black; */
    height: 100%;
    /* width: 100%; */
    /* height: 300px; */
    /* width: 300px; */
}
#rightBox #image1{
    height: 250px;
    width: 250px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
}
#rightBox #image2{
    height: 250px;
    width: 250px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
}
#footer{
    /* border: black 2px solid ; */
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer p{
    font-size: 1.4rem;
}
#item1 #rightBox .overlay{
    position: absolute;
    transform: translate(0,-101.5%);
    /* top: 0;
    left: 0; */
    border-radius: 20px;
    height: 250px;
    width: 250px; 
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 31, 31, 0.578);
    opacity: 0;
    transition: all 1s linear 0s;
}
#item1 #rightBox:hover{
    transform: scale(1.1);
}
#item1 #rightBox .overlay:hover{
    opacity: 1;
}
.overlay{
    overflow: hidden;
}
#item2 #rightBox .overlay{
    position:absolute;
    transform: translate(0,-101.5%);
    /* top: 0;
    right: 0; */
    border-radius: 20px;
    height: 250px;
    width: 250px; 
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 31, 31, 0.578);
    opacity: 0;
    transition: all 1s linear 0s;
}
#item2 #rightBox:hover{
    transform: scale(1.1);
}
#item2 #rightBox .overlay:hover{
    opacity: 1;
}
.overlay span{
    color: aliceblue;
    font-size: 1.6rem;
}
